
section{
<<<<<<< HEAD
    border:none;
    width: 500px;
    float: right;
    margin-right: 500px;
=======
    border:none
    width: 500px;
    float: right;
    margin-right: 250px;
>>>>>>> 56e688e4e039b5d5b071d61df0306168dce94a06
    margin-top: 150px;
}
img {
    border: 2px solid green;
    width: 150px;
    height: 100px;
   
   
}
.datalist{
    border: 2px solid orange;
    width: 100px;
    height: 400px;
    font-size: 10px;
}
.title{
    margin-left: 60px;
}
.mainbody{
<<<<<<< HEAD
=======
   
>>>>>>> 56e688e4e039b5d5b071d61df0306168dce94a06
  
    background-color: gray;
    margin: auto;
}