
section{
    border:none;
    width: 800px;
    float: right;
    margin-right: 200px;
    margin-top: 80px;
}
img {
    border: 2px solid green;
    width: 250px;
    height: 200px;
   
   
}
.datalist{
    border: 2px solid orange;
    width: 100px;
    height: 550px;
    font-size: 10px;
    margin-left: 50px;
    color: white;
    font-size: 12px;
}
.title{
    margin-left: 60px;
}
.mainbody{
  
    background-color: gray;
    margin: auto;
}
.mychart{
    margin-left: 400px;
    margin-bottom:800px;

}
.title{
    text-align:center;
    color: white;
    margin-bottom: 20px;
    padding-top: 5px;
}
.parOne {
   color: white;
   font-size: 20px;

}